@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    /* border: 1px solid black; */
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.container h1 {
    font-size: 3em;
    font-family: 'Cedarville Cursive', cursive;
    text-decoration: underline;
}

.container span {
    font-size: 1.5em;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    justify-content: space-around;
    padding: 10px;
    background: black;
}

.flex-blackjack-row-1 {
    color: white;
    height: 49.7vh;
}

.flex-blackjack-row-1 div {
    /* border: 1px solid black; */
    padding: 10px;
    height: 350px;
    text-align: center;
    flex: 1;
    /* border-bottom: 2px solid black; */
}

.flex-blackjack-row-1 img {
    width: 100%;
    padding: 10px;
    max-width: 100px;
    border-radius: 13px;
    height: 130px;
}

.flex-blackjack-row-1 img:hover {
    border: 1px solid azure;
    box-shadow: 0 0 10px white;
    transform: scale(1.1);
}

.flex-blackjack-row-2 button {
    padding: 10px;
    margin: 15px 50px;
    width: 100%;
    max-width: 200px;
    border-radius: 20px;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
}

.flex-blackjack-row-2 button:hover {
    cursor: pointer;
    text-decoration: underline;
    background: black;
    color: white;
    transform: scale(1.1);
}

.flex-blackjack-row-2 div {
    padding: 5px;
    display: flex;
    flex: 1;
    justify-content: center;
}

table, th {
    padding: 10px;
}

.flex-blackjack-row-3 {
    color: white;
}

.winner {
    animation-name: winner;
    animation-duration: 1.5s;
    
}

@keyframes winner {
    0% {background: yellow;}
    25% {background: rgb(240, 240, 116);}
    50% {background:yellow;}
    75% {background: rgb(240, 240, 116);}
    100% {background: yellow;}
}